@use '../../global-styles/global-styles' as *;

.feedback-bg{
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.feedback-form{
   
    background-color: white;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    h2{
        background-color: $color_main;
        width: 100%;
        text-align: center;
        color: white;
        padding: 5px 0px;
    }
}

.feedback-close-btn{
    background-color: red;
    color: white;
    position: absolute;
    width: 50px;
    height: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: -25px;
}

.input {
    outline: none;
    padding: 5px;
    margin: 20px 0px 0px 0px;
    border: 1px solid $color_main;
    text-align: center;
}

.phone-exm {
    margin: 5px 0px 30px 60px;
    font-size: 10px;
    color: $color_main;
    
}
.feedback-send-btn {
    background-color: $color_main;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 18px;
    
}