@use '../../global-styles/global-styles' as *;

.navi {
    background-color:$color_main;
    border-top: 1px solid white;
}
.navi-list {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.navi-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    &:first-child{
        justify-content: left;
    }
    &:last-child{
        justify-content: right;
    }
    a{
        color: white;
    }
    
}