@use '../../../global-styles/global-styles' as *;

.card{
    width: 300px;
    min-height: 340px;
    @include shadow;
    font-size: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    overflow-y: hidden;
}

.card-row{
    height: 45%;
    &:last-child{
        height: 55%;
    }
}

.card-row--top{
    // background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtvZxJ8RKPlt_E9uSqXkNqlv9gJYTwI003dg&usqp=CAU');
    
}

.card-row--bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.car-name{
    background-color: rgba($color: $color_main, $alpha: 0.9);
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.card-about-list {
    font-size: 12px;
    margin-bottom: 10px;
    width: 100%;
    color: white;
}
.card-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: black, $alpha: 0.8);
    color: white;
    width: 100%;
    span{
        margin: 10px 0px;
        &:first-child{
            display: -webkit-box; 
            -webkit-line-clamp: 1; 
            -webkit-box-orient: vertical; 
            overflow: hidden;
            width: 230px;
            text-align: center;
        }
    }
  
}
.card-buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    button{
        height: 30px;
        background-color: $color_main;
        color: white;
        font-size: 16px;
        margin: 0px 10px;
        padding: 3px 5px;
       
    }   
}