*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button,input,select{
    border: none;
}

a{
    text-decoration: none;
}

ul,li{
    list-style: none;
}

.container{
    width: 1204px;
    padding: 0px 50px;
    margin: 0 auto;
}

.app-body{
    display: flex;
    width: 100%;
}

